table.tblContainer
{
    background-color: red;
    border: black 1px solid;
}

.tblMyStash
{
    width: 20%;
    background-color: red;
    border: black 1px solid;
}

.tblThisStash
{
    width: 80%;
    background-color: blue;
}
