html,body {
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
    height: 100%;
    overflow: auto;
    display: block;
}
core-toolbar {
    background: #03a9f4;
    color: white;
}
div.stashContainer
{
    padding-left: 10px;
    padding-right: 10px;
}
div.contentContainer
{
}
[drawer]
{
    background-color: #E5E5E5;
}
