html,body {
    height: 100%;
    margin: 0;
    font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
    height: 100%;
    display: block;
    overflow: auto;
}
core-toolbar {
    background: #03a9f4;
    color: white;
}
#addStashButton
{
    position: absolute;
    top: 10px;
    right: 10px;
}
div.stashContainer
{
    padding-left: 10px;
    padding-right: 10px;
}
div.contentContainer
{
}
[drawer]
{
    background-color: #E5E5E5;
}

div.registerDiv
{
	width: 200px;
}
