html,body {
    height: 100%;
    margin: 0;
    font-family: 'RobotoDraft', sans-serif;
    background-color: #E5E5E5;
}
core-header-panel {
    height: 100%;
    display: block;
    overflow: auto;
}
core-toolbar {
    background: #03a9f4;
    color: white;
}
#addStashButton
{
    position: absolute;
    top: 10px;
    right: 10px;
}
#addContentButton
{
    margin-left: auto;
}
div.stashContainer
{
    padding-left: 10px;
    padding-right: 10px;
}
div.contentContainer
{
    background-color: #E5E5E5;
}
[drawer]
{
    background-color: #E5E5E5;
}

div.registerDiv
{
	width: 200px;
}

#stashNameDecorator
{
    width: 200px;
}
paper-input-decorator /deep/ .unfocused-underline 
{
    /* line color when the input is unfocused */
    background-color: #03a9f4;
}
paper-icon-button
{
    height: 24px;
    padding-top: 6px;
    padding-bottom: 0px;
}
